{% extends "ads/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'ads/css/static.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}ABC Company Ltd{% endblock %}

{% block content %}
<div id="static" class="row justify-content-center">
    {% for image in ad.images.all %}
    <a href="{% url 'ads:ad-click' ad.id %}" target="_blank" rel="nofollow" title="{{ ad.title }}">
        <img src="{{ image.image.url }}" class="img-responsive" style="height: 576px;" />
    </a>
    {% endfor %}
</div>
{% endblock %}