{% extends "splashads/base.html" %}
{% load static %}
{% load ads_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'splashads/css/index.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}K 1{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" id="page-container" style="background-image: url('{% static 'splashads/images/background.jpeg' %}');">
        <div class="row justify-content-center" style="margin-top: 10px;">
            <img class="img-responsive" src="{% static 'splashads/images/k1.jpeg' %}" alt="logo" style="height: 80px; border-radius: 12px;">
        </div>
        <div class="row" style="min-height: 500px;">

        </div>
        <div class="row justify-content-center" style="padding-bottom: 20px;">
            <a href="{{ url }}" class="btn btn-artcaffee">CONTINUE</a>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}