{% extends "splashads/base.html" %}
{% load static %}
{% load ads_tags %}

{% block css %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}Uptown Success{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div id="index_div" class="col-sm-4">
        <div class="row justify-content-center">
            <img class="img-responsive" src="{% static 'splashads/images/uptown_logo.png' %}" alt="logo" style="height: 100px;">
        </div>
        <div class="row justify-content-center">
            {% render_static_zone 'sytetrendz' 'sidebar' %}
        </div>
        <div class="row justify-content-center" style="margin-top: 15px;">
            {% render_static_zone 'stan-tv' 'content' %}
        </div>
        <div class="row justify-content-center" style="margin-top: 15px;">
            {% render_static_zone 'sytetrendz-2' 'sidebar' %}
        </div>
        <div class="row justify-content-center" style="margin-top: 10px;">
            <a href="https://www.google.com" class="btn btn-artcaffee">BROWSE</a>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}