{% extends "splashads/base.html" %}
{% load static %}
{% load ads_tags %}

{% block css %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}K 1 Success{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div id="index_div" class="col-sm-4">
        <div class="row">
            <img class="img-responsive" src="{% static 'splashads/images/logo.jpg' %}" alt="logo">
        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}