{% extends "splashads/base.html" %}
{% load static %}
{% load ads_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'splashads/css/verify.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}Uptown Verify{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row justify-content-center">
            <img class="img-responsive" src="{% static 'splashads/images/uptown_logo.png' %}" alt="logo" style="height: 100px; border-radius: 12px;">
        </div>
        <div class="row justify-content-center" style="margin-bottom: 20px;">
            {% render_static_zone 'syte3D' 'sidebar' %}
        </div>
        <div class="row justify-content-center">
            <form id="verify_form" action="{% url 'splashads:verify' %}" method="post">
                <div class="form-group">
                    <input type="password" class="form-control border-top-0 border-right-0 border-left-0" id="password"
                        name="password" placeholder="Enter code" required>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-artcaffee">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}